input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit], [type=color] {
    padding:5px 15px; 
    background:#fff; 
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=color] {
    padding:1px 1px;
}

div.whole_page {
    padding-right: 10%;
    padding-left: 10%;
    width: 50%;
    margin: 0 auto;
}

h1 {
    font: 200% arial, sans-serif;
}

label {
    font: 100% arial, sans-serif;
}