</<!DOCTYPE html>
<html>
<head>
    <title>LED Lighting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="whole_page">
    <h1>LED Lighting</h1>

    <form action="solid_color" method="POST">
    <label for="color">Select Color: </label>
    <input type="color" name="color" value="{{ color }}">
    <input type="submit">
    </form>

    <form action="six_fade" method="POST">
        <input type="submit" value="Six (6) Fade">
    </form>

    <form action="seven_fade" method="POST">
        <input type="submit" value="Seven (7) Fade">
    </form>

    <form action="turn_off" method="GET">
        <input type="submit" value="Turn Off">
    </form>
</div>
</body>
</html>